@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

// fonts
$primary-font: 'Montserrat', sans-serif;
$headers-font: 'Barlow Condensed', sans-serif;

// color codes
$color-primary-dark: #15171B;
$color-primary: #3C444D;
$color-primary-light: #CBCFD4;
$color-cases: #53B9EA;
$color-recovered: #50E3C2;
$color-deaths: #E3507A;

// ui colors
$sections-background: mix($color-primary, transparent, 60%);
$content-background: $color-primary;
$main-font-color: $color-primary-light;
$dark-font-color: mix($color-primary, $color-primary-light, 60%);
$headers-color: white;
$main-border-color: mix($color-primary, $color-primary-light, 50%);

// ui size
$base-padding-size: 8px;
$footer-height: 50px;
$default-border-radius: 4px;

// mixins
$default-border: 1px solid $main-border-color;
$light-border: 1px solid $color-primary-light;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
