@import './constants.scss';

.dashboard {
  display: flex;

  &__column {
    position: relative;
    padding: $base-padding-size;
    padding-bottom: $footer-height + $base-padding-size;
    @include flex-column;

    &--widget-column {
      min-width: 20rem;
      max-width: 30rem;
      flex: 0 1 25%;
      z-index: 2;
    }

    &--map-column {
      align-items: center;
      justify-content: flex-end;
      flex: 1 0 auto;
      z-index: 1;
    }
  }

  &__section {
    position: relative;
    margin-top: 20px;
    padding: $base-padding-size;
    @include flex-column;
    border-radius: .75rem;
    background-color: $sections-background;

    &--grow { flex-grow: 1; }

    p {
      text-align: center;
    }
  }
}

.widget-title { text-align: center; }

.widget-container {
  position: relative;
  margin: $base-padding-size 0;
  padding: $base-padding-size / 2;
  border: $default-border;
  border-radius: .5rem;
  background-color: $content-background;

  &--grow { flex-grow: 1; }

  &__scroll {
    position: absolute;
    left: $base-padding-size / 2;
    right: $base-padding-size / 2;
    top: $base-padding-size / 2;
    bottom: $base-padding-size / 2;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.widget-table {
  width: 100%;
  font-size: 1.3rem;
  border-collapse: collapse;

  tr:not(:last-child) > td { border-bottom: $default-border; }

  td {
    padding: $base-padding-size / 2;
    line-height: 2rem;
    white-space: nowrap;

    &:first-child { width: 55%; }
    &:not(:last-child) { border-right: $default-border; }
    &:last-child { text-align: center; }
  }
}

.map-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1 1 auto;
  width: 100%;

  // временно
  background-color: darkslateblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-controls {
  //bottom: $footer-height + $base-padding-size;
  @include flex-center;
}

.last-update {
  overflow: hidden;
  white-space: nowrap;
  span {
    color: $color-recovered;
    letter-spacing: 0.06em;
  }
}
