@import './constants.scss';

.toggle-group {
  display: block;
  margin: 0 auto;
  padding: 0.2rem;
}
  
.toggle {
  display: inline-block;

  &-period {
    padding-right: 0.2rem;
  }

  input {
    display: none;
  }

  .toggle__label {
    display: inline-block;
    margin: 0 -2px;
    padding: 3px 6px;
    cursor: pointer;
    color: $color-primary-light;
    background-color: $color-primary-light;
    background-image: linear-gradient(180deg, #A1A3A7 0%, #363f49 100%);
    border: $default-border;
    transition: all .1s ease-in;

    &--left {
    border-radius: 20px 0 0 20px;
    }

    &--right {
    border-radius: 0 20px 20px 0;
    }

    &:hover {
      background-image: linear-gradient(180deg, $color-primary-light 0%, #363f49 100%);
    }
  }
  
  input:checked ~ .toggle__label--left, 
  input:not(:checked) ~ .toggle__label--right {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px $color-primary,0 1px 2px rgba(0,0,0,0.05);
    color: $color-primary;
    background-color:#e0e0e0;
    transition: all .1s ease-in;
    pointer-events: none;
  }
}

// .toggle-period {
//   margin-left: 100px;
//   position: relative;
//   cursor: pointer;
// }

// .toggle {
//   display: block;
//   left: 0px;
//   top: 0;
//   position: relative;
//   width: 300px;
//   height: 40px;
//   z-index: 10;
//   line-height: 40px;
//   font-weight: bold;
//   background: #303030;
//   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   cursor: pointer;

//   &::after {
//   content: "ON";
//   width: 150px;
//   height: 40px;
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   display: block;
//   background: #00CCFF;
//   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   cursor: pointer;
// }

// input {
//   display: none;
// }

// :checked + label {
//   left: 0px;
// }

// :checked + label:after {
//   left: 150px;
//   background: #FC6666;
//   content: "OFF";
// }

// }

// .toggle__label {
//   margin-left: 40px;
//   transition: all ease 0.3s;
// }

// .toggle__label::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   transform: translate(-50%, -30%);
//   width: 60px;
//   height: 24px;
//   background-color: #b2b6be;
//   border-radius: 12px;
//   transition: all ease 0.3s;
// }

// .toggle__label::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   transform: translate(-100%, -30%);
//   width: 34px;
//   height: 34px;
//   background-color: #e3e6ec;
//   border-radius: 50%;
//   transition: all ease 0.3s;
// }

// .toggle__checkbox {
//   display: none;
// }

// .toggle__checkbox:checked + .toggle__label::after {
//   background-color: #000000;
//   transform: translate(0, -55%);
// }

// .toggle__checkbox:checked + .toggle__label::before {
//   background-color: #767a83;
// }
