{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "es2021": true
    },
    "rules": {
        "indent": ["warn", 2],
        "no-plusplus": "off",
        "no-console": "off"
    }
}